---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Fun Facts" sideBarActiveItemID="fun-facts">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Fun Facts!</div>
  </div>

  <HorizontalCard
    title="I was editor-in-chief of my high school newspaper"
    desc="I also co-founded it! It was a lot of writing and a lot of editing. I ended up getting a few national awards out of it. We were ranked second in the nation at one point."
    badge="Writer Guy"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="I know two other languages"
    desc="Actual ones! Not programming ones. I'm a better listener in Vietnamese than I am in Spanish, and a better writer in Spanish than I am in Vietnamese. I'm incredibly slow at reading Vietnamese."
    url="#"
    badge="Multilingual"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="I spent a summer in the middle of nowhere in Africa"
    desc="I got to see the [former] president of Niger before he got overthrown in a coup d'etat. I also injured myself while learning to play badminton in the Kalahari desert. The German guy who did first aid on me had a lion as a pet."
    url="#"
    badge="Wanderlust"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="I developed video games from elementary school to high school"
    desc="I made a lot of them. Most of them failed. In total, though, I still have close to a million plays from around the world. Not too bad. I should really get back into it."
    url="#"
    badge="Game Dev Hobbyist"
  />
</BaseLayout>
