---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Howdy, howdy</div>
    <div class="text-5xl font-bold">I'm Douglas Pham</div>
    <div class="text-3xl py-3 font-bold">
      I do early-stage ventures, CorpDev, and programming
    </div>
    <div class="py-2">
      <text class="text-lg">
        I'm a senior finance major at UT Austin with a minor in computer
        science. My experience spans early-stage venture healthcare advising at
        Dell Medical School, corporate strategy at a startup backed by Shell,
        and hands-on coding with a focus on fintech projects involving
        blockchain and credit modeling.
      </text>
    </div>
    <div class="mt-8">
      <a
        class="btn"
        href="https://www.linkedin.com/in/douglaspham/"
        target="_blank"
      >
        Let's connect!</a
      >
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      My project sidequests {"</>"}
    </div>
  </div>
  <HorizontalCard
    title="Comprehensive Regression Model Performance Evaluation"
    img="/lasso-ridge.png"
    desc="Evaluates multiple regression models including Lasso, Ridge, Decision Tree, Random Forest, and Neural Network on StockReturn.csv using Python (libraries: pandas, numpy, sklearn (linear_model and metrics)). Implements shrinkage techniques for Lasso and Ridge, compares their MSEs, and analyzes model performance. Trains and predicts using Decision Tree, Random Forest, and Neural Network, assessing their MSEs and model depths to determine the most effective approach."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Texas InventionWorks 3D Print Job Software Manager"
    img="/python.png"
    desc="Manages 3D print jobs within a budget, optimizing for high-quality prints using queues and hash tables using Python. Allows selection of detail and material. Utilizes the knapsack algorithm to maximize output, reviewing and simulating jobs based on budget constraints."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="DeFi Protocol Cost of Equity Derivation"
    img="/cost-of-equity.jpeg"
    desc="Downloads 5 years of stock data for SPY and AAVE, computes daily returns, and renames columns using Python (libraries: yfinance, pandas, statsmodels). Utilizes advanced regression analysis to derive AAVE's beta relative to SPY. Applies the CAPM formula to precisely calculate the cost of equity, enhancing investment decision-making for DeFi protocols."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Mass E-Mail Automation Framework Using Gmail API"
    img="/javascript.png"
    desc="Developed a JavaScript framework leveraging the Gmail API to draft and schedule customizable emails, automating the process of sending 125+ marketing emails weekly. Saved over 20 hours per week and achieved a follow-on conversion rate of ~11%. Enhanced lead conversion performance by 10% through tailored customizability options specific to various industries."
    url="#"
  />
</BaseLayout>
